@model MarketingR.Models.Producto

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <h3 class="card-title">Editar producto: @Model.Nombre_producto</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.HiddenFor(model => model.IdProducto)

                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label class="control-label">Nombre poducto</label>
                            @Html.EditorFor(model => model.Nombre_producto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre_producto, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label class="control-label">Ultima compra</label>
                            <input type="text" name="Ultima_compra" id="Ultima_compra" value="@ViewBag.Ultima_compra" class="form-control" required />
                            @Html.ValidationMessageFor(model => model.Ultima_compra, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.Existencias, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Existencias, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Existencias, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.IdCategoria, "IdCategoria", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <input type="submit" value="Editar" class="btn btn-success" />
                </div>
            </div>
            <!-- /.card -->
            <div class="mb-3">
                <button type="button" class="btn btn-primary" id="btnRegresar" name="btnRegresar" onclick="regresar()">
                    <i class="fas fa-arrow-alt-circle-left"></i> Regresar
                </button>
            </div>
        </div>
        <!-- /.col -->
    </div>
}

<script>
    function regresar() {
        document.getElementById("btnRegresar")
        location.href = "/Empleados/Index";
    }
</script>