@model IEnumerable<MarketingR.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Listado de clientes</h3>

                <div class="card-tools">
                    <div class="input-group">
                        <button type="submit" class="btn btn-sm btn-primary" id="crear" onclick="Crear()">
                            <i class="fas fa-plus"></i> Crear
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <input type="hidden" id="txtOcultar" value="@ViewBag.Accion" />
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Tipo_documento.Descripcion)</th>
                            <th>@Html.DisplayNameFor(model => model.Nombres)</th>
                            <th>@Html.DisplayNameFor(model => model.Apellidos)</th>
                            <th>@Html.DisplayNameFor(model => model.Correo)</th>
                            <th> @Html.DisplayNameFor(model => model.Numero_documento)</th>
                            <th> @Html.DisplayNameFor(model => model.Direccion)</th>
                            <th> @Html.DisplayNameFor(model => model.Estado)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo_documento.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellidos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Numero_documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn btn-sm" href="/Clientes/Edit/@item.IdCliente"><i class="fa fa-pen"></i></a> |
                                    <a class='btn btn-danger btn-sm' onclick=Delete("@item.IdCliente")><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        if ($("#txtOcultar").val() == "Insertado") {
            swal("Registro Guardado!", "Datos  guardados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Editado") {
            swal("Registro Editado!", "Datos editados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Eliminado") {
            swal("Registro Eliminado!", "Datos  Eliminados correctamente!", "success");
        }
    });

    function Crear() {
        document.getElementById("btnCrear")
        location.href = "/Clientes/Create";
    }

    function Delete(id) {
        var url;
        swal({
            title: "Estas seguro?",
            text: "Si lo eliminas, no podrás recuperarlo!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    url = '@Url.Action("EliminarDato", "Clientes")/' + id,
                    window.location.href = url;
                } else {
                    swal("Cancelado!");
                }
            });
    }
</script>