@model IEnumerable<MarketingR.Models.Venta>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Listado de ventas</h3>

                <div class="card-tools">
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary btn-sm" id="crear" onclick="Crear()">
                            <i class="fas fa-plus"></i> Crear
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <input type="hidden" id="txtOcultar" value="@ViewBag.Accion" />
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                Código
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Fecha de venta
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Impuesto)
                            </th>
                            <th>
                                Total venta
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdVenta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.oCliente.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaVenta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Impuesto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalVenta)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn btn-sm" href="/Ventas/Edit/@item.IdVenta"><i class="fa fa-pen"></i></a> |
                                    <a class='btn btn-danger btn-sm' onclick=Delete("@item.IdVenta")><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        if ($("#txtOcultar").val() == "Insertado") {
            swal("Registro Guardado!", "Datos  guardados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Editado") {
            swal("Registro Editado!", "Datos editados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Eliminado") {
            swal("Registro Eliminado!", "Datos  Eliminados correctamente!", "success");
        }
    });

    function Crear() {
        document.getElementById("btnCrear")
        location.href = "/Ventas/Create";
    }

    function Delete(id) {
        var url;
        swal({
            title: "Estas seguro?",
            text: "Si lo eliminas, no podrás recuperarlo!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    url = '@Url.Action("EliminarDato", "Ventas")/' + id,
                    window.location.href = url;
                } else {
                    swal("Cancelado!");
                }
            });
    }
</script>